<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pj_agenda.Properties.Settings.db_agendaConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=db_agenda;port=3307"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>